body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: Droid Serif;
}
h1 a, h2 a, h3 a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.top-nav {
  background-color: #000;
  text-transform: uppercase;
}

.top-nav > .container {
  display: flex;
  justify-content: space-between;
}

.top-nav .nav {
  display: flex;
  font-family: Montserrat;
}

.top-nav ul.nav {
  list-style: none;
}

.top-nav ul.nav li {
  padding: 10px;
}

.top-nav ul.nav li a {
  color: #fff;
  text-decoration: none;
}

.brand {
  font-family: Damion;
  font-size: 2.5em;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px;
}
.post {

}

.card {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.card > img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.card > .card-content,
.card > .card-footer {
  padding: 20px;
  font-family: Montserrat;
}

.card > .card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.card > .card-footer a {
  text-decoration: none;
  color: #000000;
}


.button, a.button {
  padding: 20px;
  font-family: Montserrat;
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  background-color: #fff;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #67667;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: space-between;
}